<app-header></app-header>
<div class="progress" *ngIf="showProgress">
    <div class="indeterminate"></div>
</div>
<div class="container">
    <ul class="collection with-header">
        <li class="collection-header">
            <h5>Gains
                <a routerLink="/gains/new" class="right" title="New Gain"><i class="material-icons">add</i></a>
            </h5>
        </li>
        <li class="collection-item" *ngFor="let gain of gains">
            <span class="title">{{ gain.Name }}: {{ gain.Value }}</span>
            <a href="#" class="secondary-content"><i class="material-icons" (click)="removeGain($event,gain)">delete</i></a>
            <a routerLink="/gains/edit/{{ gain.Identifier }}" class="secondary-content"><i class="material-icons">mode_edit</i></a>
        </li>
        <li class="collection-item" *ngIf="!gains?.length">
            <span class="center">Nothing to list</span>
        </li>
    </ul>
    <h3 class="center"></h3>
</div>