<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="offset-m3 col s12 m6">
            <div class="card">
                <div class="progress" *ngIf="showProgress">
                    <div class="indeterminate"></div>
                </div>
                <div class="card-content">
                    <span class="card-title">Expense: {{ expense.Name }}</span>
                    <form [formGroup]="newExpenseForm" no-validate (ngSubmit)="saveExpense()">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" formControlName="name" [(ngModel)]="expense.Name" type="text" class="validate" required autofocus>
                                <label for="name" data-error="Invalid name">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="value" formControlName="value" [(ngModel)]="expense.Value" type="number" step="0.01" class="validate" required>
                                <label for="value" data-error="Invalid value">Value</label>
                            </div>
                            <div class="input-field col s12">
                                <md-form-field>
                                    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" formControlName="date" [(ngModel)]="expense.Date"  [style.width]="'80%'">
                                    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                                    <md-datepicker #picker></md-datepicker>
                                </md-form-field>
                            </div>
                            <div class="input-field col s12">
                                <md-select placeholder="Category" [style.width]="'100%'" formControlName="category" [(ngModel)]="expense.Category">
                                    <md-option *ngFor="let category of categories" [value]="category.Value">
                                        {{ category.Name }}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn-floating btn-large waves-effect waves-light red right" type="submit">
                              <i class="material-icons">done</i>
                            </button>
                            <a routerLink="/expenses" class="btn-floating btn-large waves-effect waves-light left">
                                <i class="material-icons">arrow_back</i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>