<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="offset-m3 col s12 m6">
            <div class="card">
                <div class="progress" *ngIf="showProgress">
                    <div class="indeterminate"></div>
                </div>
                <div class="card-content">
                    <span class="card-title">Gain: {{ gain.Name }}</span>
                    <form [formGroup]="newGainForm" no-validate (ngSubmit)="saveGain()">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" formControlName="name" [(ngModel)]="gain.Name" type="text" class="validate" required autofocus>
                                <label for="name" data-error="Invalid name">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="value" formControlName="value" [(ngModel)]="gain.Value" type="number" class="validate" required>
                                <label for="value" data-error="Invalid value">Value</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn-floating btn-large waves-effect waves-light red right" type="submit">
                              <i class="material-icons">done</i>
                            </button>
                            <a routerLink="/gains" class="btn-floating btn-large waves-effect waves-light left">
                              <i class="material-icons">arrow_back</i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>