<div class="container">
    <div class="row">
        <div class="offset-m3 col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Cadastro</span>
                    <div class="row">
                        <form [formGroup]="registerForm" no-validate (ngSubmit)="createUser()">
                            <div class="input-field col s12">
                                <input id="email" name="name" type="text" class="validate" required [(ngModel)]="user.Name">
                                <label for="email" data-error="Nome inválido">*Nome</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" class="validate" required [(ngModel)]="user.Email">
                                <label for="email" data-error="Email inválido">*Email</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password" class="validate" required [(ngModel)]="user.Password">
                                <label for="password" data-error="Senha inválida">*Senha</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="password" name="confirm-password" type="password" class="validate" required [(ngModel)]="confirmPassword">
                                <label for="password" data-error="Senha inválida">*Confirmar Senha</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit">
                                  Finalizar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>