<div class="container">
    <div class="row">
        <div class="offset-m3 col s12 m6">
            <div class="card">
                <div class="progress" *ngIf="showProgress">
                    <div class="indeterminate"></div>
                </div>
                <div class="card-content">
                    <span class="card-title">Cadastro</span>
                    <div class="row">
                        <form [formGroup]="registerForm" no-validate (ngSubmit)="createUser()">
                            <div class="input-field col s12">
                                <input id="email" formControlName="name" type="text" class="validate" required [(ngModel)]="user.Name">
                                <label for="email" data-error="Invalid name">*Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" formControlName="email" type="email" class="validate" required [(ngModel)]="user.Email">
                                <label for="email" data-error="Invalid email">*Email</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="password" formControlName="password" type="password" class="validate" required [(ngModel)]="user.Password">
                                <label for="password" data-error="Invalid password">*Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="password" formControlName="confirmPassword" type="password" class="validate" required [(ngModel)]="confirmPassword">
                                <label for="password" data-error="Invalid password">*Confirm Password</label>
                            </div>
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit">
                                      Finish
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>